<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>api comida</title>
    <link href="../styles/main.css" rel="stylesheet">
</head>
<body>


<div>
    <img src= "https://foodish-api.herokuapp.com/api/" alt="comida" class="imagen">


</div>
   
    <button id="recargar-imagen">
    Genera nueva imagen

</button>
<a href="../index.html">Volver</a>
  <script src = "../java/apiii.js"></script>
</body>
</html>