<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encargosyenvios</title>
    <link href="../styles/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../index.html">
</head>
<body>
    <h1 id="titulo">Cómo manejamos los encargos y envíos</h1>
        <p>
            Nuestro proceso de encargos y envíos es específico y sencillo, el cliente nos encarga la cantidad de cupcakes que quiere, sabor y color de crema batida, puede ser en persona o en redes sociales,
            y se llega a un acuerdo si nosotros lo entregamos en un envío a domicilio que tiene costo de $15 pesos adicionales o si el cliente llega al lugar donde reside nuestra empresa y se le entrega el pedido y sin costo de envío.

        </p>

    <nav>
    </nav>
    <div>

        <tr><img src="../assets/cupcakes_rojos.jpeg"class="img-halloween"></tr>
        <tr><img src="../assets/imagencupcakes_variados.jpeg" class="img-halloween"></tr>
        
        <script>
            fetch("https://covid-19-data.p.rapidapi.com/country/code?code=it", {
                "method": "GET",
                "headers": {
                    "x-rapidapi-host": "covid-19-data.p.rapidapi.com",
                    "x-rapidapi-key": "SIGN-UP-FOR-KEY"
                }
            })
            .then(response => {
                console.log(response);
            })
            .catch(err => {
                console.error(err);
            });
            
            
            
                </script>
                    
    </div>
    <a href="../index.html">index</a>

</body>
</html>