  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagenes cupcakes halloween</title>
    <link href="../styles/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../index.html">
</head>
<body>

    <h1 id="titulo"> Imagenes de nuestros cupcakes temporada de halloween :D</h1>

    <nav>

    </nav>
    <div>
        <tr><img src ="../assets/cupcakes_halloween.jpeg" class="img-halloween"></tr>
        <tr><img src="../assets/cupcakes_manoesqueleto.jpeg"class="img-halloween"></tr>
        <tr><img src="../assets/cupcake_cono.jpeg"class="img-halloween"></tr>
        <tr><img src="../assets/cupcake_azul.jpeg"class="img-halloween"></tr>
        <tr><img src="../assets/Ccupcakes_cremabatidaverde.jpeg" class="img-halloween"></tr>
        <tr><img src="../assets/cupcakerojito.jpeg" class="img-halloween"></tr>
        <tr><img src="../assets/manoesqueleto2.jpeg" class="img-halloween"></tr>
        <tr><img src="../assets/cupcakes_conos_brujitas.jpeg" class="img-halloween"></tr>
    </div>
    <a href="../index.html">Index</a>
    
</body>
</html>