<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Instagram</title>
    <link href="../styles/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../index.html">
</head>
<body>
    <h1 id="titulo">Nuestra página en una red social</h1>
    <p>
Aquí una imagen de nuestro ID y diseño de nuestra cuenta en la aplicación Instagram, síguenos!!
<a href="../index.html">index</a>


    </p>
<nav>
</nav>

<div>

    <tr><img src="../assets/screnshot.jpeg"></tr>
    
</div>

</body>
</html>