<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orígen</title>
    <link href="../styles/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../index.html">
</head>
<body>
    
    <h1 id="titulo"> Orígen de nuestra empresa</h1>
    <p>
        Surgimos como una idea de emprendimiento que se hizo realidad! con el objetivo de proporcionar cupcakes de calidad y sabores únicos, especiales 
        y ricos a nuestros clientes, ademas de tener más conocimiento de la repostería, tiempo y asi mejorando la habilidad de preparación de ingredientes, 
        organización, compra y ahorro para el futuro.
        
    </p>
    

    <nav>
        
        
    </nav>
    <div>
       <tr><img src="../assets/cupcakes_seccion.jpeg" alt="seccion" class="img-halloween"></tr>

    </div>
    <a href="../index.html"  class="button">Volver</a>

</body>
</html>